/* nikkah-details.php */
/* Bride Form hide */
#bridedetails {
  display: none;
}

/* nikkah-details.php */
/* Nikkah Donations Form hide */
#nikkahDonation {
  display: none;
}

/* trustee-board.php */
/* VPdetails Form hide */
#VPdetails {
  display: none;
}
/* secretarydetails Form hide */
#secretarydetails {
  display: none;
}
/* ASdetails Form hide */
#ASdetails {
  display: none;
}
/* treasurerdetails Form hide */
#treasurerdetails {
  display: none;
}
/* advisoryboard Form hide */
#advisoryboard {
  display: none;
}

/* other-donations.php */
/* hide country textbox */
#inputCountry {
  display: none;
}

/* disaster-relief-donations.php */
/* hide disaterDonationIndex div */
#disaterDonationIndex {
  display: none;
}

/* villagers-registration-form.php */
/* hide college id textbox */
#college {
  display: none;
}

/* form_nikkah-details-form.php */
/* hide groomIndex div  */
#groomIndex {
  display: none;
}

/* form_nikkah-details-form.php */
/* hide brideIndex div  */
#brideIndex {
  display: none;
}

/* form_nikkah-details-form.php */
/* hide brideGuardianIndex textbox  */
#brideGuardianIndex {
  display: none;
}

/* form_nikkah-details-form.php */
/* hide groomGuardianIndex textbox  */
#groomGuardianIndex {
  display: none;
}

/* form_pesh-imaam-details.php */
/* hide peshImaamIndex div */
#peshImaamIndex {
  display: none;
}

/* form_muazzin-details.php */
/* hide muazzinIndex div */
#muazzinIndex {
  display: none;
}

/* form_villagers-registration-form.php */
/* hide saandhaStep div */
#saandhaStep2 {
  display: none;
}

/* form_villagers-registration-form.php */
/* hide saandhaStep div */
#saandhaStep3 {
  display: none;
}

/* form_villagers-registration-form.php */
/* hide saandhaStep div */
#saandhaStep4 {
  display: none;
}

/* form_villagers-registration-form.php */
/* hide saandhaStep div */
#saandhaStep5 {
  display: none;
}

/* form_villagers-registration-form.php */
/* hide saandhaGuardian div */
#saandhaGuardian {
  display: none;
}

/* form_villagers-registration-form.php */
/* hide avStudent div */
#avStudent {
  display: none;
}

/* form_villagers-registration-form.php */
/* hide inputScholIncome div */
#inputScholIncomeDiv {
  display: none;
}

/* form_villagers-registration-form.php */
/* hide madhrasa div */
#madhrasa {
  display: none;
}

/* form_villagers-registration-form.php */
/* hide married div */
#married {
  display: none;
}

/* form_villagers-registration-form.php */
/* hide married div */
#familyIncome {
  display: none;
}

/* form_villagers-registration-form.php */
/* hide newMigrant div */
#newMigrant {
  display: none;
}

/* hide viewDetails div */
#viewDetails {
  display: none;
}

/* hide editDetails div */
#editDetails {
  display: none;
}

/* form_add-new-rental.php */
/* hide lease div */
#lease {
  display: none;
}
#allVillagers {
  display: none;
}

/* form_add-new-rental.php */
/* hide saandhaStep0 div */
#saandhaStep0 {
  display: none;
}

/* preview_trustee_board-history_step-2.php */
/* hide editable div */
#editable {
  display: none;
}

/* form_funds-collection.php */
/* hide inputFundsNotes div */
#inputFundsNotes {
  display: none;
}

/* form_funds-collection.php */
/* hide inputFundsFestival div */
#inputFundsFestival {
  display: none;
}

/*  form_friday-collection.php */
/* hide fridayRegular div */
#fridayRegular {
  display: none;
}

/*  form_add-new-rental.php */
/* hide inputRentalMonthsDiv div */
#inputRentalMonthsDiv {
  display: none;
}

/*  form_add-new-rental.php */
/* hide rentalPlace div */
#rentalPlace {
  display: none;
}

/*  form_saandha-collector-registration.php */
/* hide admin div */
#admin {
  display: none;
}

/*  form_salary.php */
/* hide salarydiv div */
#salarydiv {
  display: none;
}

/*  preview_pesh_imaam-details_step-2.php */
/* hide viewPayments div */
#viewPayments {
  display: none;
}

/*  preview_trustee_board-details.php */
/* hide previousTB div */
#previousTB {
  display: none;
}

/*  form_villagers-registration-form-step2.php */
/* hide noofchildren div */
#noofchildren {
  display: none;
}

/*  preview villager step2 */
/* hide payment_history div */
#payment_history {
  display: none;
}
#salaryDIV {
  display: none;
}
#advanceDIV {
  display: none;
}

.fa-lg {
  padding-left: 15px;
  padding-bottom: 15px;
}
.fa-pencil-square-o {
  color: black;
}
.fa-trash {
  color: red;
}
.top-span {
  color: #111;
}
.image-td {
  width: 15%;
}
.card-hr {
  margin-right: 0;
}

.card {
  border-radius: 1rem;
}

.card-body.top-card {
  height: 100%;
  padding-bottom: 2%;
  margin-bottom: 0px;
}
.grid-margin {
  margin-bottom: 0px;
}
a.brand-logo-mini {
  display: block;
}

.card-table {
  width: 100%;
}
.tr-shadow {
  color: #111;
}
.total-td {
  width: 20%;
}
.total-td div {
  padding: 10px;
  padding-left: 35px;
  padding-right: 20px;
  background-color: #191c24;
  border-radius: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.total-td div p {
  color: white !important;
  font-weight: 500;
}
.table-data2.table thead th {
  padding: 15px 10px;
}
.table-data2.table tbody tr td:first-child {
  vertical-align: middle;
}

table.dataTable tbody tr.odd {
  background-color: #f1e0ff;
}
table.dataTable tbody tr.even {
  background-color: #e5e5e5;
}
.table-data2.table tbody td {
  padding: 10px 5px;
  line-height: 4;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
}
#monthly_report.dataTable {
  border-spacing: 0px 5px !important;
}
#monthly_report.table thead th {
  padding: 15px 10px;
}
#monthly_report.table tbody tr td:first-child {
  vertical-align: middle;
}

#monthly_report.dataTable tbody tr.odd {
  background-color: #f1e0ff;
}
#monthly_report.dataTable tbody tr.even {
  background-color: #e5e5e5;
}
#monthly_report.table tbody td {
  padding: 10px 5px;
  line-height: 4;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
}
table.dataTable {
  border-spacing: 0px 5px !important;
}

.top-card-logo {
  max-width: 60%;
  height: auto;
}

.dataTables_wrapper .dataTable .btn {
  vertical-align: middle;
}

a.text-muted {
  text-decoration-line: underline !important;
  color: dodgerblue !important;
}

.alert {
  position: absolute;
  z-index: 1400;
  top: 2%;
  right: 4%;
  margin: 0px auto;
  text-align: center;
}

form .error {
  color: #ff0000;
}

.modal-content {
  background-color: #fff;
  color: #111;
}
.modal-header {
  border-bottom: 1px solid #dee2e6;
}
.modal-footer {
  border-top: 1px solid #dee2e6;
}
div.modal-footer button.btn-secondary {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}
div.modal-footer button.btn-secondary:hover {
  color: #fff;
  background-color: #4c5357;
  border-color: #4c5357;
}

.special-text {
  color: black;
  font-weight: 500;
  font-style: italic;
  padding: 30px;
}
.special-text p {
  font-size: 1em;
  text-align: justify;
}

.board .panel {
  padding: 30px;
  border: none;
  background: #fff;
}
.panel-primary {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
}
.board .icon {
  float: right;
}
.board .panel .icon .fa, .fas, .fab {
  font-size: 30px;
  color: #ffffff;
  background: #30a5ff;
  padding: 19px;
}
.fa, .fas, .fab {
  display: inline-block;
  font-style: normal;
  /* font-weight: normal; */
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.col-md-3 {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.board .number {
  float: left;
  width: 65%;
}

#cardhover div.col-md-6.d-flex.justify-content-center.align-self-center{
  text-align: center !important;
}
